absl-py==0.8.1
alabaster==0.7.12
apache-beam==2.19.0
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
autograd==1.3
autopep8==1.4.4
avro-python3==1.9.2.1
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
cachetools==3.1.1
celerite==0.3.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorama==0.4.3
corner==2.0.1
crcmod==1.7
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
docopt==0.6.2
docutils==0.16
emcee==3.0rc2
entrypoints==0.3
fastavro==0.21.24
fasteners==0.15
fire==0.2.1
fpdf==1.7.2
future==0.18.2
gast==0.2.2
google-api-core==1.16.0
google-api-python-client==1.8.0
google-apitools==0.5.28
google-auth==1.11.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.17.1
google-cloud-bigtable==1.0.0
google-cloud-core==1.3.0
google-cloud-datastore==1.7.4
google-cloud-pubsub==1.0.2
google-pasta==0.1.8
google-resumable-media==0.4.1
googleapis-common-protos==1.51.0
grpc-google-iam-v1==0.12.3
grpcio==1.27.1
h5py==2.10.0
hdfs==2.5.8
httplib2==0.12.0
idna==2.8
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterthemes==0.20.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras2onnx==1.6.5
kiwisolver==1.1.0
latexcodec==2.0.0
lazy-object-proxy==1.4.3
lesscpy==0.14.0
livelossplot==0.4.1
m2r==0.2.1
Markdown==3.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==2.0.0
monotonic==1.5
multiprocess==0.70.9
nbconvert==5.6.1
nbformat==5.0.4
nbsphinx==0.5.1
ndjson==0.3.1
notebook==6.0.3
numpy==1.18.2
oauth2client==3.0.0
oauthlib==3.1.0
onnx==1.6.0
onnxconverter-common==1.6.5
opt-einsum==3.1.0
oset==0.1.3
packaging==20.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pbr==5.4.4
pickleshare==0.7.5
Pillow==7.0.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psutil==5.6.7
py-cpuinfo==5.0.0
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.22.2
pybtex-docutils==0.2.2
pycodestyle==2.5.0
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.5.2
pyhf==0.4.1
pylint==2.4.4
pymongo==3.10.1
pyparsing==2.4.6
pyrsistent==0.15.6
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywinpty==0.5.7
PyYAML==5.3
pyzmq==18.1.1
requests==2.22.0
requests-oauthlib==1.3.0
rope==0.16.0
rsa==4.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-automodapi==0.12
sphinx-click==2.3.1
sphinx-copybutton==0.2.10
sphinx-issues==1.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.1.1
tensorflow==2.5.2
tensorflow-estimator==2.1.0
tensorflow-gpu-estimator==2.1.0
tensorflow-metadata==0.21.1
tensorflow-probability==0.9.0
tensorflow-transform==0.21.2
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tfx-bsl==0.21.4
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
typing==3.7.4.1
typing-extensions==3.7.4.1
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.11.2
zipp==2.2.0
